/* Fancy Google hover button made by: csozi | Website: www.csozi.hu */

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    align-items: center;
    border: solid rgba(255, 255, 255, 0.2) 2px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    justify-content: center;
}

.svg {
    height: 20px;
    margin-right: 10px;
    z-index: 6;
}

.button .text {
    z-index: 10;
    font-size: 13px;
    color: white;
    font-weight: 600;
}

/* Text color change on hover */
.button:hover .text {
    animation: text forwards 0.3s;
}

@keyframes text {
    from {
        color: white;
    }

    to {
        color: white;
    }
}

/* Pseudo elements for the wave effect */
.button:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave1 2.5s ease-in-out forwards;
}

.button:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave2 2.5s ease-in-out forwards;
}

/* Wave Animations */
@keyframes wave1 {
    0% {
        z-index: 1;
        background: #EB4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    1% {
        z-index: 1;
        background: #EB4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    25% {
        z-index: 1;
        background: #EB4335;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    26% {
        z-index: 3;
        background: #34A853;
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    70% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 3;
        background: #34A853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

@keyframes wave2 {
    0% {
        z-index: 2;
        background: #FBBC05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    11% {
        z-index: 2;
        background: #FBBC05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    35% {
        z-index: 2;
        background: #FBBC05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    39% {
        z-index: 2;
        background: #FBBC05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    40% {
        z-index: 4;
        background: #4285F4;
        width: 0;
        height: 0;
        opacity: 1;
    }

    64% {
        z-index: 4;
        background: #4285F4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 4;
        background: #4285F4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

/* Icon colors disappearing */
.button:hover .red {
    animation: disappear 0.1s forwards;
    animation-delay: 0.1s;
}

.button:hover .yellow {
    animation: disappear 0.1s forwards;
    animation-delay: 0.3s;
}

.button:hover .green {
    animation: disappear 0.1s forwards;
    animation-delay: 0.7s;
}

.button:hover .blue {
    animation: disappear 0.1s forwards;
    animation-delay: 1.1s;
}

@keyframes disappear {
    from {
        filter: brightness(1);
    }

    to {
        filter: brightness(100);
    }
}